body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
input {
  cursor: pointer;
}
label {
  cursor: pointer;
}
textarea {
  resize: none;
}
/* HEADER SECTION */

.header-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  position: relative;
}
.header-section__bcg-image {
  width: 100%;
  height: 100%;
  grid-area: 3 / 1 / 13 / 13;
}
/*
 первое значение определяет grid-row-start ,
 второе значение -  grid-column-start ,
 третье значение -  grid-row-end
 четвёртое значение -  grid-column-end.*/
.header-section__navigation {
  width: 100%;
  height: 156px;
  padding: 56px 152px;
  grid-area: 1 / 1 / 3 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
}
.header-section__navigation-item-first {
  width: 30px;
  height: 25px;
}
.header-section__navigation-item-second {
  display: flex;
  padding: 0;
}
.header-section__navigation-item-second > li > a {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  font-weight: 700;
  margin-left: 50px;
  transition: all 0.5s ease;
}
.header-section__navigation-item-second > li > a:hover {
  transition-duration: 0.5s;
  color: gold;
}
.header-section__navigation-item-third {
  display: flex;
  padding: 0;
  margin: 0;
}
.header-section__navigation-item-third > li {
  margin-right: 30px;
}
.header-section__navigation-item-third > li > i {
  font-size: 30px;
  color: #7d7d7d;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header-section__navigation-item-third > li > i:hover {
  color: black;
  transition-duration: 0.5s;
}

/* Header content */

.header-section__content {
  width: 386px;
  height: 180px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.header-section__content-greetings {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 44px;
  text-align: center;
  color: #4b4b4b;
  font-family: "Montserrat", sans-serif;
}
.header-section__content__slogan {
  margin-bottom: 36px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #4b4b4b;
}
.header-section__form {
  display: flex;
}
.header-section__form-button {
  width: 50%;
  padding: 14px 24px;
  border: 1px solid transparent;
  background: #ebcb80;
  border-radius: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.header-section__form > .header-section__form-button:nth-child(1) {
  margin-right: 18px;
}
.header-section__form > .header-section__form-button:nth-child(2) {
  margin-left: 18px;
}
.header-section__form-button:hover {
  transition-duration: 0.5s;
  border: none;
  border: 1px solid grey;
  background: transparent;
}

/* Main section*/

.main-section {
  width: 100vw;
  height: 75vh;
  padding-top: 68px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  background: #f6f6f6;
}
.header-section__content-greetings {
  grid-area: 1 / 5 / 3 / 9;
  justify-items: center;
}

/*Card one*/

.main-section__card {
  width: 268px;
  height: 396px;
  padding: 36px;
  align-self: center;
  text-align: center;
}
.card-one {
  grid-area: 3 / 3 / 9 / 6;
  padding: 36px;
  background: rgb(86, 86, 89);
  background: linear-gradient(
    90deg,
    rgba(86, 86, 89, 1) 0%,
    rgba(82, 93, 99, 0.9640231092436975) 100%
  );
  border-radius: 8px;
}
.main-section__card-price {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ebcb80;
}
.main-section__wrapper-for-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.fa-usd-this-project {
  font-size: 24px;
  color: white;
  position: absolute;
  left: 50px;
  top: 10px;
}
.main-section__price {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.main-section__per-year {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 22px;
}
.main-section__info {
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.main-section__form-button {
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 14px 40px;
  border-radius: 50px;
  background: #ebcb80;
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-section__form-button:hover {
  transition-duration: 0.6s;
  background: rgb(86, 86, 89);
  background: linear-gradient(
    259deg,
    rgba(86, 86, 89, 1) 0%,
    rgba(1, 1, 1, 0.9808298319327731) 100%
  );
  color: white;
  border: none;
}

/*Card two*/

.card-two {
  grid-area: 3 / 5 / 9 / 9;
  background: #ebcb80;
  border-radius: 8px;
}
.card-price-two {
  color: #4b4b4b;
}
.main-section__price-two {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.main-section__per-year-two {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 22px;
}
.main-section__info-two {
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
}
.wrapper-for-content-two > i,
div {
  color: #4b4b4b;
}
.main-section__form-button-two {
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 14px 40px;
  border-radius: 50px;
  color: white;
  background: rgb(86, 86, 89);
  background: linear-gradient(
    259deg,
    rgba(86, 86, 89, 1) 0%,
    rgba(1, 1, 1, 0.9808298319327731) 100%
  );
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-section__form-button-two:hover {
  transition-duration: 0.5s;
  background: #ebcb80;
  color: white;
  border: none;
}

/*Card three*/
.card-three {
  grid-area: 3 / 8 / 9 / 11;
  border-radius: 8px;
  background: linear-gradient(
    223.49deg,
    rgba(0, 0, 0, 0.0001) 4.85%,
    rgba(0, 0, 0, 0.401127) 96.5%
  );
}

/*Main section second */

.main-section-second {
  width: 100vw;
  height: 90vh;
  padding-top: 45px;
  display: grid;
  grid-template-columns: 1fr 282px 282px 282px 282px 1fr;
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  position: relative;
}
.main-section-second__header {
  grid-area: 1 / 1 / 2 / 17;
  margin-bottom: 0;
  align-self: center;
}
.main-section-second__headlines {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  grid-area: 2 / 2 / 3 / 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  /* THIS BEST WEY FONT 300 */
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.main-section-second__team {
  color: #4b4b4b;
  transition: all 0.5s ease;
}
.main-section-second__team:hover {
  transition-duration: 0.5s;
  cursor: pointer;
  text-shadow: 1px 0 0 black;
}

/*This cards */

.size-card {
  width: 262px;
  height: 262px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-section-second__image {
  background-size: cover;
}
.main-section-second__statistics {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.main-section-second__statistics > i {
  font-weight: 400;
}
.size-card:hover {
  transition-duration: 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.main-section-second__statistic-card-one {
  grid-area: 3 / 2 / 6 / 3;
}
.main-section-second__statistic-card-two {
  grid-area: 3 / 3 / 7 / 4;
}
.main-section-second__statistic-card-three {
  grid-area: 3 / 4 / 7 / 5;
}
.main-section-second__statistic-card-four {
  grid-area: 3 / 5 / 7 / 6;
}
.main-section-second__statistic-card-five {
  grid-area: 6 / 2 / 9 / 3;
}
.main-section-second__statistic-card-six {
  grid-area: 6 / 3 / 9 / 4;
}
.main-section-second__statistic-card-seven {
  grid-area: 6 / 4 / 9 / 5;
}
.main-section-second__statistic-card-eight {
  grid-area: 6 / 5 / 9 / 6;
}
/* Section third*/
.main-section-third {
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 400px 400px 400px 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 50px 0;
  background: #f6f6f6;
}
.style-card {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  padding-left: 140px;
  margin: 12px;
  position: relative;
}
.main-section-third__avatar {
  position: absolute;
  left: 52px;
  top: 0;
}
.main-section-third__name-tiam-member {
  margin: 0 0 5px 0;
}
.main-section-third__name-tiam-speciality {
  font-size: 16px;
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0 0 14px 0;
}
.main-section-third__name-tiam-content {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
}
.main-section-third__card-one {
  grid-area: 3 / 2 / 6 / 3;
}
.main-section-third__card-two {
  grid-area: 3 / 3 / 6 / 4;
}
.main-section-third__card-three {
  grid-area: 3 / 4 / 6 / 5;
}
.main-section-third__card-four {
  grid-area: 6 / 2 / 9 / 3;
}
.main-section-third__card-five {
  grid-area: 6 / 3 / 9 / 4;
}
.main-section-third__card-six {
  grid-area: 6 / 4 / 9 / 5;
}
/* dfdsff */
.main-section-fourth {
  width: 100vw;
  height: 70vh;
  padding: 90px 0 80px 0;
  display: grid;
  grid-template-columns: 1fr 400px 400px 400px 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 50px 0;
}
.main-section-fourth__contact-info {
  width: 100%;
  height: 100%;
  padding: 0 70px;
  grid-area: 2 / 2 / 6 / 3;
}
.main-section-fourth__heading {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 22px;
  color: #4b4b4b;
}
.main-section-fourth__contact-location {
  width: 234px;
  height: 48px;
  padding-left: 20px;
  margin-bottom: 22px;
  position: relative;
}
.main-section-fourth__location {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
}
.location-icon {
  position: absolute;
  top: 3px;
  left: 0;
}
.main-section-fourth__contact-message {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 20px 30px;
  border: 2.13333px solid #e6e6e6;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  grid-area: 2 / 3 /7 / 4;
}
.main-section-fourth__name-mail-contact {
  width: 100%;
  height: 100%;
}
.main-section-fourth__form {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
}
.main-section-fourth__label {
    width: 50%;
    height: 70px;
}
.main-section-fourth__label-text {
  width: 100%;
}
#message-area {
  width: 100%;
}
#user-name, #user-mail {
    width: 90%;
    height: 36px;
    margin: 18px 0;
    background: #FFFFFF;
opacity: 0.8;
border: 1px solid #999999;
border-radius: 4px;
}
.main-section-fourth__label-text {
    margin-top: 20px;
}
#message-area {
    margin-top: 10px;
    margin-bottom: 20px;
}
.submit-button {
    margin: 0 auto;
}