body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
input {
  cursor: pointer;
}
label {
  cursor: pointer;
}
textarea {
  resize: none;
}
.wrapper-slide {
  visibility: hidden;
}
.wrapper-slide {
  display: none;
}
.header-section__navigation-hamburger {
  display: none;
}
.main-section-second__menu {
  display: none;
}
/* HEADER SECTION */

.header-section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  position: relative;
}
.header-section__bcg-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
object-position: bottom; 
  grid-area: 3 / 1 / 13 / 13;
}
/*
 первое значение определяет grid-row-start ,
 второе значение -  grid-column-start ,
 третье значение -  grid-row-end
 четвёртое значение -  grid-column-end.*/
.header-section__navigation {
  width: 100%;
  height: 156px;
  padding: 56px 152px;
  grid-area: 1 / 1 / 3 / 13;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
}
.header-section__navigation-item-first {
  width: 30px;
  height: 25px;
  margin-right: 98px;
}
.header-section__navigation-item-second {

  display: flex;
  padding: 0;
}
.header-section__navigation-item-second > li {
  margin-left: 50px;
}
.header-section__navigation-item-second > li > a {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  font-weight: 700;

  transition: all 0.5s ease;
}
.header-section__navigation-item-second > li > a:hover {
  transition-duration: 0.5s;
  color: gold;
}
.header-section__navigation-item-third {
  display: flex;
  padding: 0;
  margin: 0;
}
.header-section__navigation-item-third > li {
  margin-right: 30px;
}
.header-section__navigation-item-third > li > i {
  font-size: 30px;
  color: #7d7d7d;
  cursor: pointer;
  transition: all 0.5s ease;
}
.header-section__navigation-item-third > li > i:hover {
  color: black;
  transition-duration: 0.5s;
}

/* Header content */

.header-section__content {
  width: 386px;
  height: 180px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.header-section__content-greetings {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 44px;
  text-align: center;
  color: #4b4b4b;
  font-family: "Montserrat", sans-serif;
}
.header-section__content__slogan {
  margin-bottom: 36px;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #4b4b4b;
}
.header-section__form {
  display: flex;
}
.header-section__form-button {
  width: 50%;
  padding: 14px 24px;
  border: 1px solid transparent;
  background: #ebcb80;
  border-radius: 50px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.header-section__form > .header-section__form-button:nth-child(1) {
  margin-right: 18px;
}
.header-section__form > .header-section__form-button:nth-child(2) {
  margin-left: 18px;
}
.header-section__form-button:hover {
  transition-duration: 0.5s;
  border: none;
  border: 1px solid grey;
  background: transparent;
}

/* Main section*/

.main-section {
  width: 100vw;
  height: 75vh;
  padding-top: 68px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  background: #f6f6f6;
}
.header-section__content-greetings {
  grid-area: 1 / 5 / 3 / 9;
  justify-items: center;
}

/*Card one*/

.main-section__card {
  width: 268px;
  height: 396px;
  padding: 36px;
  align-self: center;
  text-align: center;
}
.card-one {
  grid-area: 3 / 3 / 9 / 6;
  padding: 36px;
  background: rgb(86, 86, 89);
  background: linear-gradient(
    90deg,
    rgba(86, 86, 89, 1) 0%,
    rgba(82, 93, 99, 0.9640231092436975) 100%
  );
  border-radius: 8px;
}
.main-section__card-price {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ebcb80;
}
.main-section__wrapper-for-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.fa-usd-this-project {
  font-size: 24px;
  color: white;
  position: absolute;
  left: 50px;
  top: 10px;
}
.main-section__price {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.main-section__per-year {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 22px;
}
.main-section__info {
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.main-section__form-button {
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 14px 40px;
  border-radius: 50px;
  background: #ebcb80;
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-section__form-button:hover {
  transition-duration: 0.6s;
  background: rgb(86, 86, 89);
  background: linear-gradient(
    259deg,
    rgba(86, 86, 89, 1) 0%,
    rgba(1, 1, 1, 0.9808298319327731) 100%
  );
  color: white;
  border: none;
}

/*Card two*/

.card-two {
  grid-area: 3 / 5 / 9 / 9;
  background: #ebcb80;
  border-radius: 8px;
}
.card-price-two {
  color: #4b4b4b;
}
.main-section__price-two {
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.main-section__per-year-two {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 22px;
}
.main-section__info-two {
  font-size: 16px;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
}
.wrapper-for-content-two > i,
div {
  color: #4b4b4b;
}
.main-section__form-button-two {
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 14px 40px;
  border-radius: 50px;
  color: white;
  background: rgb(86, 86, 89);
  background: linear-gradient(
    259deg,
    rgba(86, 86, 89, 1) 0%,
    rgba(1, 1, 1, 0.9808298319327731) 100%
  );
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-section__form-button-two:hover {
  transition-duration: 0.5s;
  background: #ebcb80;
  color: white;
  border: none;
}

/*Card three*/
.card-three {
  grid-area: 3 / 8 / 9 / 11;
  border-radius: 8px;
  background: linear-gradient(
    223.49deg,
    rgba(0, 0, 0, 0.0001) 4.85%,
    rgba(0, 0, 0, 0.401127) 96.5%
  );
}

/*Main section second */

.main-section-second {
  width: 100vw;
  height: 90vh;
  padding-top: 45px;
  display: grid;
  grid-template-columns: 1fr 282px 282px 282px 282px 1fr;
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  position: relative;
}
.main-section-second__header {
  grid-area: 1 / 1 / 2 / 17;
  margin-bottom: 0;
  align-self: center;
}
.main-section-second__headlines {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  grid-area: 2 / 2 / 3 / 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  /* THIS BEST WEY FONT 300 */
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.main-section-second__team {
  color: #4b4b4b;
  transition: all 0.5s ease;
}
.main-section-second__team:hover {
  transition-duration: 0.5s;
  cursor: pointer;
  text-shadow: 1px 0 0 black;
}

/*This cards */

.size-card {
  width: 262px;
  height: 262px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease;
}
.main-section-second__image {
  background-size: cover;
}
.main-section-second__statistics {
  width: 100%;
  /* height: 100%; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.main-section-second__statistics > i {
  font-weight: 400;
}
.size-card:hover {
  transition-duration: 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.main-section-second__statistic-card-one {
  grid-area: 3 / 2 / 6 / 3;
}
.main-section-second__statistic-card-two {
  grid-area: 3 / 3 / 7 / 4;
}
.main-section-second__statistic-card-three {
  grid-area: 3 / 4 / 7 / 5;
}
.main-section-second__statistic-card-four {
  grid-area: 3 / 5 / 7 / 6;
}
.main-section-second__statistic-card-five {
  grid-area: 6 / 2 / 9 / 3;
}
.main-section-second__statistic-card-six {
  grid-area: 6 / 3 / 9 / 4;
}
.main-section-second__statistic-card-seven {
  grid-area: 6 / 4 / 9 / 5;
}
.main-section-second__statistic-card-eight {
  grid-area: 6 / 5 / 9 / 6;
}
/* Section third*/
.main-section-third {
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 400px 400px 400px 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 50px 0;
  background: #f6f6f6;
}
.style-card {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
  padding-left: 140px;
  margin: 12px;
  position: relative;
}
.main-section-third__avatar {
  position: absolute;
  left: 52px;
  top: 0;
}
.main-section-third__name-tiam-member {
  margin: 0 0 5px 0;
}
.main-section-third__name-tiam-speciality {
  font-size: 16px;
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  margin: 0 0 14px 0;
}
.main-section-third__name-tiam-content {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #4b4b4b;
}
.main-section-third__card-one {
  grid-area: 3 / 2 / 6 / 3;
}
.main-section-third__card-two {
  grid-area: 3 / 3 / 6 / 4;
}
.main-section-third__card-three {
  grid-area: 3 / 4 / 6 / 5;
}
.main-section-third__card-four {
  grid-area: 6 / 2 / 9 / 3;
}
.main-section-third__card-five {
  grid-area: 6 / 3 / 9 / 4;
}
.main-section-third__card-six {
  grid-area: 6 / 4 / 9 / 5;
}
/* dfdsff */
.main-section-fourth {
  width: 100vw;
  height: 70vh;
  padding: 90px 0 80px 0;
  display: grid;
  grid-template-columns: 1fr 400px 400px 400px 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 50px 0;
}
.main-section-fourth__contact-info {
  width: 100%;
  height: 100%;
  padding: 0 70px;
  grid-area: 2 / 2 / 6 / 3;
}
.main-section-fourth__heading {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 22px;
  color: #4b4b4b;
}
.main-section-fourth__contact-location {
  width: 234px;
  height: 48px;
  padding-left: 20px;
  margin-bottom: 22px;
  position: relative;
}
.main-section-fourth__location {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #4b4b4b;
}
.location-icon {
  position: absolute;
  top: 3px;
  left: 0;
}
.main-section-fourth__contact-message {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 20px 30px;
  border: 2.13333px solid #e6e6e6;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  grid-area: 2 / 3 / 7 / 4;
}
.main-section-fourth__name-mail-contact {
  width: 100%;
  height: 100%;
}
.main-section-fourth__form {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
}
.main-section-fourth__label {
  width: 48%;
  height: 70px;
  font-family: "Source Sans Pro", sans-serif;
}
.main-section-fourth__form > .main-section-fourth__label:nth-child(2) {
  margin-left:6px;
}
#message-area {
  width: 100%;
}
#user-name,
#user-mail {
  width: 100%;
  height: 36px;
  color: #4b4b4b;
  margin: 18px 0;
  background: #ffffff;
  opacity: 0.8;
  border: 1px solid #999999;
  border-radius: 4px;
}
.main-section-fourth__label-text {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
}
#message-area {
  border: 1px solid #999999;
  margin-top: 10px;
  margin-bottom: 20px;
}
.submit-button {
  margin: 0 auto;
}
.main-section-fourth__credits-follow {
  width: 100%;
  height: 100%;
  padding: 0 70px;
  grid-area: 2 / 4 / 7 / 5;
}
.main-section-fourth__social {
  width: 100%;
  height: 200px;
  cursor: pointer;
}
.contact-link {
  font-size: 30px;
  margin-bottom: 25px;
  letter-spacing: 30px;
  color: #4b4b4b;
}
.footer-section {
  width: 100vw;
  height: 50vh;
  padding: 42px 0;
  display: grid;
    grid-template-columns: 1fr 300px 300px 300px 300px 1fr;
    grid-template-rows: repeat(8, 1fr);
  background: #F6F6F6;
}
.footer-section__style {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 0 20px;

}
.section-posicion-one {
  grid-area: 1 / 2 / 7 / 3;
}
.section-posicion-two {
  grid-area: 1 / 3 / 7 / 4;
}
.section-posicion-three {
  grid-area: 1 / 4 / 7 / 5;
}
.section-posicion-four {
  grid-area: 1 / 5 / 7 / 6;
}
.footer-style {
  padding-bottom: 20px;
border-bottom: 1px solid  #7D7D7D;
}
.footer-section__style > a {
  display: block;
  margin: 12px 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4B4B4B;
  cursor: pointer;
  transition: all 0.5s ease;
}
.footer-section__style > a:hover {
  transition: .5s;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}
.footer-section-footer {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border-top: 1px solid #7D7D7D;
  grid-area: 7 / 2 / 9 / 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.social-icon {
font-size: 30px;
  letter-spacing: 30px;
  display: inline;
  cursor: pointer;
}
/* Adaptive */
@media screen  and (min-width: 767px) and (max-width: 1082px)  { 
  .header-section__navigation  {
    padding: 38px 25px;
    font-size: 12px;
  }
 /* .header-section__bcg-image {


 } */
.header-section__navigation-item-first {
  margin-right: 0;
}
 
 .header-section__navigation-item-third > li  {
  margin-right: 20px;
 }
 .header-section__navigation-item-second {
  margin-left: 0;
 }
 .header-section__navigation-item-second > li {
  margin-left: 36px;
 }
.header-section__navigation-item-second > li > a {
    font-size: 12px;

  }
  .header-section__navigation-item-third > li > i  {
    font-size: 20px;
  }

  
  .header-section__content__slogan {
    font-size: 12px;
  }
  .header-section__form {
    display: block;
  }
  .header-section__form > .header-section__form-button:nth-child(1) {
    font-size: 11px;
margin: 0 auto;
display: block;
margin-bottom: 16px;
  }
  .header-section__form > .header-section__form-button:nth-child(2) {
    font-size: 11px;
    margin: 0 auto;
display: block;

  }
  .main-section {
    height: 60vh;
    padding: 36px 36px;
    align-items: center;
  }
  .header-section__content-greetings {
    width: 100%;
    font-size: 32px;
    margin-bottom: 32px;
    grid-area: 1 / 1 / 2 / 14;
  }
  .main-section__card  {
    width: 170px;
    height: 280px;
    padding: 22px 26px;
  }
  .card-one {
    grid-area: 2 / 1 / 8 / 5;
  }
  .card-two  {
 grid-area: 2 / 5 / 8 /9;
  }
  .card-three {
grid-area: 2 / 9 / 8 / 13;
  }
  .main-section__card-price {
    font-size: 12px;
  }
  .fa-usd-this-project {
    font-size: 11px;
    position: absolute;
    left: 30px;
  }
  .main-section__price,   .main-section__price-two {
    font-size: 36px;
    margin: 20px 0;
  }
  .main-section__per-year, .main-section__per-year-two {
    font-size: 12px;
    margin: 6px 0;
  }
  .main-section__info, .main-section__info-two {
    font-size: 11px;
  }
  .main-section__form-button, .main-section__form-button-two {
    padding: 10px 20px;
    margin-top: 16px;
    font-size: 11px;
  }

  .main-section-second {
    height: 100vh;
padding: 10px 10px 0 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 40px 1fr 1fr 1fr 1fr;
    align-items: baseline;
  }
  .main-section-second__header {
    font-size: 32px;
    grid-area: 1 / 1 / 2 / 5;
    margin-bottom: 0;
  }
  .main-section-second__headlines {
    font-size: 12px;
    grid-area: 2 / 1 / 3 / 5;
  }
  .size-card {
    width: 200px;
    height: 220px;
    margin-bottom: 20px;
  }
  .main-section-second__image {
    width: 100%;
    height: 180px;
  }
  .main-section-second__statistics {
    padding: 10px 12px;
  }
  .main-section-second__statistic-card-one {
    grid-area: 3 / 1 / 4 / 2;
  }
  .main-section-second__statistic-card-two {
    grid-area: 3 / 2 / 4 / 3;
  }
  .main-section-second__statistic-card-three {
    grid-area: 3 / 3 / 4 / 4;
  }
  .main-section-second__statistic-card-four {
    grid-area: 4 / 1 / 5 / 2;
  }
  .main-section-second__statistic-card-five {
    grid-area: 4 / 2 / 5 / 3;
  }
  .main-section-second__statistic-card-six {
    grid-area: 4 / 3 / 5 / 4;
  }
  .main-section-second__statistic-card-seven {
    grid-area: 5 / 1 / 6 / 2;
  }
  .main-section-second__statistic-card-eight {
    grid-area: 5 / 2 / 6 / 3;
  }
  
  .main-section-third {
    height: 70vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px repeat(3, 1fr);
    background: #f6f6f6;
    padding: 40px 80px;
  }
  .style-card {
    width: 100%;
    height: 100%;
    padding-left: 65px;
    margin-top: 24px;
  }
.main-section-third__avatar {
  width: 62px;
  height: 62px;
  left: 0;
  top: 0;
}
.main-section-third__name-tiam-member {
  font-size: 12px;
}
.main-section-third__name-tiam-speciality, .main-section-third__name-tiam-content {
font-size: 11px;
}
.main-section-third__card-one {
  grid-area: 2 / 1 / 3 / 2;
}
.main-section-third__card-two  {
  grid-area: 2 / 2 / 3 / 3;
}
.main-section-third__card-three {
  grid-area: 3 / 1 / 4 / 2;
}
.main-section-third__card-four  {
  grid-area: 3 / 2 / 4 / 3;
}
.main-section-third__card-five {
  grid-area: 4 / 1 / 5 / 2;
}
.main-section-third__card-six {
  grid-area: 4 / 2 / 5 / 3;
}
.main-section-fourth {
  padding: 20px;
  height: 52vh;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: 40px repeat(3, 1fr);
}
.main-section-fourth__contact-info {
  padding: 0 0 0 10px;
  grid-area: 2 / 2 / 4 / 3;
}
.main-section-fourth__heading, .contact-link {
  font-size: 12px;
}
.contact-link {
  letter-spacing: 12px;
  margin-bottom: 12px;
}
.main-section-fourth__location {
  font-size: 11px;
}
.main-section-fourth__contact-message {
  padding: 10px;
  border: none;
  grid-area: 2 / 1 / 4 / 2;
  font-size: 11px;
  box-shadow: none;
}
.submit-button {
  font-size: 9px;
}
input {
  font-size: 11px;
}
#message-area {
  margin: 0 0 10px 0;
}
.main-section-fourth__credits-follow {
  padding: 0 0 0 10px;
  grid-area: 2 / 3 / 4 / 4;
}
.footer-section {
  padding: 28px;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.footer-section__style > a{
  font-size: 11px;
}
.section-posicion-one {
  grid-area: 1 / 1 / 2 / 2;
}
.section-posicion-two {
  grid-area: 1 / 2 / 2 / 3;
}
.section-posicion-three {
  grid-area: 1 / 3 / 2 / 4;
}
.section-posicion-four {
  grid-area: 1 / 4 / 2 / 5;
}
.footer-section-footer {
  padding-top: 5px;
  font-size: 11px;
  grid-area: 2 / 1 / 3 / 5;
}
.social-icon {
font-size: 11px;
}
}
@media screen  and (min-width: 320px) and (max-width: 767px) {
.header-section__navigation {
  width: 100%;
  height: 60px;
  padding: 12px 16px;
}
.header-section__content-greetings {
  font-size: 20px;
}
.header-section__content__slogan, .header-section__form-button {
  font-size: 11px;
}
.header-section__form {
  display: block;
}
.header-section__form > .header-section__form-button:nth-child(1) {
  font-size: 11px;
margin: 0 auto;
display: block;
margin-bottom: 16px;
}
.header-section__form > .header-section__form-button:nth-child(2) {
  font-size: 11px;
  margin: 0 auto;
display: block;
}
.header-section__navigation-item-second {
  display: none;
}
.header-section__navigation-item-third {
  display: none;
}
/* Hamburge-menu */
.header-section__navigation-links {
  display: none;
}
#window{
  display:none;
}
#window-close {
  display: none;
}
.header-section__navigation-hamburger {
  display: block;
  width: 40px;
  height: 40px;
  border-top: 2px solid #4B4B4B;
  border-bottom: 2px solid #4B4B4B;
}
.header-section__navigation-line {
  width: 100%;
  border: 1px solid #4B4B4B;
  margin-top: 17px;
}
#window[type=radio]:checked ~ .header-section__navigation-links{
display: block;
padding: 50px 112px;
position: absolute;
font-size: 12px;
text-align: center;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #F6F6F6;
z-index: 1;
animation: onModal  1s forwards;
}
@keyframes onModal {
  from {opacity:0;}
  to {opacity:1;}
}
.header-section__navigation-links > ul:nth-child(3) {
  margin-top: 70px;
padding: 0;
}
.header-section__navigation-links > ul:nth-child(3) > li {
  margin-bottom: 30px;
}
.header-section__navigation-links > ul:nth-child(3) > li > a{
  font-size: 16px;
  font-weight: 700;
  color: #4B4B4B;
  font-family: 'Source Sans Pro', sans-serif;
}
.header-section__bcg-image {
  display: none;
}
.header-section{
  background: linear-gradient(217.09deg, #FFFFFF 0%, #DADADA 100%);
}
.header-section__social-link {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 180px auto;
  font-size: 20px;
}
.main-section {
  padding: 52px 32px;
}
.main-section {
  visibility: hidden;
  display: none;
}
.wrapper-slide {
  visibility: visible;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: grid;
justify-items: center;
align-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
  background: #f6f6f6;
}
.header-section__content-greetings {
  grid-area: 1 / 1 / 2 / 13;
  margin: 0;
}
.slideshow-container {
  grid-area: 1 / 1 / 12 / 13;
}
.dots-circles {
grid-area:  11 / 1 / 13 / 13;
justify-content: center;
}
.main-section__card {
  width: 180px;
height: 278px;
padding: 10px 0 0 0;
}
.main-section__card-price {
  font-size: 12px;
margin: 0;
}
.fa-usd-this-project {
  font-size: 11px;
  left: 60px;
}
.main-section__per-year, .main-section__per-year-two {
  margin: 10px 0;
  font-size: 12px;
}
.main-section__price, .main-section__price-two {
  font-size: 36px;
}
.main-section__info-two, .main-section__info {
  font-size: 11px;
}
.main-section__form-button-two, .main-section__form-button{
  margin-top: 36px;
  font-size: 11px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  width: 85px;
height: 24px;
padding: 5px 20px;
font-size: 12px;
font-weight: 700;
border-radius: 48px;
font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot1:hover {
  background-color: #717171;
}
.dot2:hover {
  background: #EBCB80;
}
.dot3:hover {
background: lightgray;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.main-section-second {

  height: 650px;
  padding: 28px 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 60px repeat(4, 1fr);
}
.main-section-second__headlines {
  display: none;
}
.main-section-second__statistics {
  display: none;
}
.size-card {
  width: 140px;
height: 106px;
}
.main-section-second__menu {
  display: block;
  height: 24px;
  margin: 16px 0;
  border: 1px solid #4B4B4B;
border-radius: 48px;
  grid-area: 2 / 1 / 3 / 3;
}
.main-section-second__image {
  width: 100%;
  height: 100%;
}
.main-section-second__statistic-card-one {
  grid-area: 3 / 1 / 4 / 2;
}
.main-section-second__statistic-card-two {
  grid-area: 3 / 2 / 4 / 3;
}
.main-section-second__statistic-card-three  {
  grid-area: 4 / 1 / 5 / 2;
}
.main-section-second__statistic-card-four {
  grid-area: 4 / 2 / 5 / 3;
}
.main-section-second__statistic-card-five  {
  grid-area: 5 / 1 / 6 / 2;
}
.main-section-second__statistic-card-six  {
  grid-area: 5 / 2 / 6 / 3;
}
.main-section-second__statistic-card-seven {
  grid-area: 6 / 1 / 7 / 2;
}
.main-section-second__statistic-card-eight {
  grid-area: 6 / 2 / 7 / 3;
}
.main-section-third {
  height: 780px;
  padding: 40px 28px 70px 28px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px repeat(6, 1fr);
}
.style-card {
  padding: 0 0 0 50px;
}
.main-section-third__avatar {
  width: 48px;
  height: 48px;
  left: 0;
}
.main-section-third__name-tiam-member, .main-section-third__name-tiam-speciality,
.main-section-third__name-tiam-content  {
  font-size: 11px;
}
.main-section-third__card-one {
  grid-area: 2 / 1 / 3 / 3;
}
.main-section-third__card-two {
  grid-area: 3 / 1 / 4 / 3;
}
.main-section-third__card-three {
  grid-area: 4 / 1 / 5 / 3;
}
.main-section-third__card-four {
  grid-area: 5 / 1 / 6 / 3;
}
.main-section-third__card-five {
  grid-area: 6 / 1 / 7 / 3;
}
.main-section-third__card-six {
  grid-area: 7 / 1 / 8 / 3;
}
.main-section-fourth {
  height: 660px;
  padding: 0 64px 0 64px;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 40px repeat(8, 1fr);
}
.main-section-fourth__contact-message {
  grid-area: 2 / 1 / 6 / 3;
  padding: 0;
  border: none;
  box-shadow: none;
margin-top: 0;
}

#message-area, #user-mail, #user-name {
  margin: 5px 0;
}
.main-section-fourth__label-text {
  margin-top: 5px;
}
 .main-section-fourth__contact-info {
  height: 120px;
   grid-area: 6 / 1 / 8 / 3;
  padding: 0;
 }
 .main-section-fourth__contact-location {
  margin-bottom: 0;
  height: 30px;
 }
 .main-section-fourth__heading {
  font-size: 12px;
  margin: 0 0 10px 0;
 }
 .main-section-fourth__location {
  font-size: 11px;
 }

.main-section-fourth__credits-follow {
  grid-area: 8 / 1 / 11 / 3;
  padding: 0;
}
.main-section-fourth__social {
height: 50px;
}
.contact-link {
  margin: 0;
  font-size: 12px;
  letter-spacing: 10px;
}
.footer-section {
  height: 600px;
  padding: 28px 12px;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
}
.section-posicion-one {
  grid-area: 1 / 1 / 2 / 2;
}
.footer-section__style {
  padding: 0 5px;
}
.main-section-fourth__heading{
  font-size: 12px;
}
.footer-section__style > a {
  font-size: 11px;
  margin: 11px 0;
}
.section-posicion-two {
  grid-area: 1 / 2 / 2 / 3;
}
.section-posicion-three {
  grid-area: 2 / 1 / 3 / 2;
}
.section-posicion-four {
  grid-area: 2 / 2 / 3 / 3;
}
.footer-section-footer {
  grid-area: 3 / 1 / 4 / 3;
  padding: 0;
}
}
/* пофиксить изображение  */
/* пофиксить нав бар */
/* мобильный: 767px и ниже */


















